body {
    background-color: rgb(60,60,60);
    font-family: sans-serif;
    font-size: 0.9rem;
    text-align: center;
    color: #ededed;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 300px;
align-items: top;
}

.box{background-color: rgb(30,30,30); border: 1px solid rgb(10,10,10)}

a:link {
  color: red;
}

.markdown {
    color: #ededed;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.markdown2 {
    color: #ededed;
    font-family: sans-serif;
    font-size: 0.7rem;
}